<app-header></app-header>

<div class="max-w-7xl mx-auto relative min-h-screen mt-1.5">

  <div class="hikes-title mt-12 mb-10">

    <div class="draggable-item absolute top-16 left-0 z-10" id="boot-icon">
      <img src="assets/img/boot-icon.png" class="h-20 w-auto" alt="boot" />
    </div>

    <div class="hero-section">
      <h1 class="display-1 ">
        Book your next hike
      </h1>
    </div>

    <div class="draggable-item absolute top-10 right-0 z-10" id="bag-icon">
      <img src="assets/img/hiking-bag.png" class="h-24 w-auto" alt="bag" />
    </div>

  </div>

  <div class="hike-posts-section mt-20">
    <!-- <div class="flex flex-col gap-6 mt-10">    </div> -->

    <div class="w-full">
      <app-single-hike-item
        class="single-hike-item"
        *ngFor="let hikePost of hikePosts"
        [hikeTitle]="hikePost.title"
        [hikeLocation]="hikePost.location"
        [hikeDate]="hikePost.date"
        [hikeImageUrl]="hikePost.thumbnailUrl"
        [hikeImageAlt]="hikePost.imageAlt"
        [hikeDifficulty]="hikePost.difficulty"
      ></app-single-hike-item>
    </div>
  </div>
</div>

<app-footer></app-footer>
