<!-- <app-preloader *ngIf="siteImages.length < 1"></app-preloader> -->

<app-preloader *ngIf="loadingContent"></app-preloader>

<app-header></app-header>

<div class="max-w-7xl mx-auto relative min-h-screen mt-1.5">
  <app-coming-soon></app-coming-soon>

  <div class="instructions">
    <p class="text-center font-ringBearer text-orange-600 max-[480px]:text-xl">
      Table Mountain's crown and Mt. Satima's veiled height,
    </p>

    <p class="text-center font-ringBearer text-orange-600 max-[480px]:text-xl">
      New trails are stirring—soon they'll come to light.
    </p>
  </div>
</div>

<app-footer></app-footer>
