<app-preloader *ngIf="siteImages.length < 1"></app-preloader>

<app-header></app-header>

<div class="indemnity-agreement max-w-6xl mx-auto relative min-h-screen">
  <div class="hero-section mt-12">
    <h1
      class="display-1 max-[1280px]:text-6xl max-[768px]:pt-0 text-5xl max-[500px]:text-4xl"
    >
      Indemnity Agreement
    </h1>
  </div>

  <div class="content-section w-10/12 m-auto mt-10 mb-20 max-[320px]:pb-16">
    <p>
      All hikes and events organized by Trail Trekkers are open to members of
      this group and anyone who chooses to join.
    </p>

    <p>By attending, you agree that you participate at your own risk.</p>

    <p>
      Trail Trekkers and its organizers are not responsible for any injury,
      loss, or damage that may occur.
    </p>

    <p>
      Please take care of yourself, your belongings, and fellow participants.
    </p>

    <p>
      Attending an event means you understand and accept this disclaimer,
      whether or not you are part of this WhatsApp group / community.
    </p>
  </div>

  <div
    class="quote-section w-3/5 -rotate-6 absolute z-20 bottom-20 right-10 max-[768px]:right-5 text-right max-[320px]:-bottom-5"
  >
    <blockquote
      class="font-garamondItalic text-5xl text-orange-600 orange-hover-underline max-[320px]:text-3xl"
    >
      Happy and safe trekking!
    </blockquote>
  </div>

</div>

<app-footer></app-footer>
