<footer class="bg-black text-white py-2">
  <div
    class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex items-center justify-between h-3/5 max-[768px]:flex-col"
  >
    <!-- Logo -->
    <div class="logo-section flex items-center space-x-4">
      <div class="logo-section max-[768px]:mb-2">
        <img
          src="assets/img/Trail-Trekkers-logo.png"
          alt="Trail Trekkers"
          class="h-20 w-auto"
        />
      </div>
    </div>

    <div class="flex">
      <div class="quick-links-section">
        <!-- Quick Links -->
        <h3 class="font-garamondBold text-3xl max-[768px]:text-2xl">Quick Links</h3>

        <ul>
          <li
            class="font-passion text-lg"
          >
            <a href="#" class="white-hover-underline">Community</a>
          </li>

          <li
            class="hover:text-orange-300 transition font-passion text-lg"
          >
            <a 
              [routerLink]="['/adventures']"
              class="white-hover-underline">
              Adventures
            </a>
          </li>

          <li class="hover:text-orange-300 transition font-passion text-lg">
            <a 
              [routerLink]="['/upcoming-hikes']"
              class="white-hover-underline">
              Upcoming Hikes
            </a>
          </li>

          <li class="hover:text-orange-300 transition font-passion text-lg">
            <a 
              [routerLink]="['/about']"
              class="white-hover-underline">
              About
            </a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</footer>
