<footer class="bg-[#266b5a] text-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex items-center justify-between h-28">
    <!-- Logo -->
    <div class="flex items-center space-x-4">
      <div class="logo-section">
        <img
          src="assets/img/Trail-Trekkers-logo.png"
          alt="Trail Trekkers"
          class="h-16 w-auto"
        />
      </div>

      <div class="quick-links-section">
        <!-- Quick Links -->
        <h3 class="font-garamondBold text-2xl">Quick Links</h3>

        <ul>
          <li class="hover:text-orange-300 transition font-garamondRegular">
            <a href="#">Community</a>
          </li>

          <li class="hover:text-orange-300 transition font-garamondRegular">
            <a href="#">Adventures</a>
          </li>

          <li class="hover:text-orange-300 transition font-garamondRegular">
            <a href="#">Upcoming Hikes</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
