<app-preloader
    *ngIf="siteImages.length < 1"
></app-preloader>

<!-- <app-preloader
    *ngIf="siteImages.length > 0"
    [images]="siteImages"
></app-preloader> -->

<app-header></app-header>
<div class="home max-w-7xl mx-auto relative min-h-screen">
  <div class="flex flex-nowrap h-screen overflow-hidden">

    <div class="content-left relative">

      <div class="min-[600px]:hidden draggable-item absolute top-16 left-6" id="boot-icon">
        <img src="assets/img/vector-icons/boot-icon.png" class="h-20 w-auto" alt="boot" />
      </div>

      <div class="min-[600px]:hidden draggable-item absolute top-16 right-6" id="compass-icon">
        <img src="assets/img/vector-icons/compass.png" class="h-20 w-auto rotating-compass" alt="compass" />
      </div>

      <div class="hero-text-section">
        <h1 class="text-8xl font-speakeasy text-orange-600 max-[1280px]:text-6xl ml-3 mr-3 max-[768px]:text-5xl max-[600px]:text-center">
          Adventure is out there!
        </h1>

        <a
          class="green-button absolute mt-3 max-[1280px]:w-4/5 ml-3 max-[600px]:text-center"
          [routerLink]="['/upcoming-hikes']"
        >
          See Upcoming Hikes
        </a>
      </div>

      <div class="min-[600px]:hidden draggable-item absolute left-6 bottom-1/4" id="bag-icon">
        <img src="assets/img/vector-icons/hiking-bag.png" class="h-24 w-auto" alt="bag" />
      </div>

      <div class="min-[600px]:hidden draggable-item absolute right-6 bottom-1/4" id="mountain-icon">
        <img src="assets/img/vector-icons/mountain.png" class="h-24 w-auto" alt="mountain" />
      </div>
      
      <div class="min-[600px]:hidden draggable-item absolute right-6 bottom-0" id="mountain-icon">
        <img src="assets/img/vector-icons/mountain-2.png" class="h-24 w-auto" alt="mountain" />
      </div>

    </div>

    <div class="content-right flex flex-row max-[600px]:hidden">
      <div class="column">
        <div class="flex flex-col scroll scroll-top">
          <img
            src="assets/img/homepage-imgs/elephant-hill-2-1.jpg"
            alt="elephant-hill-2-1"
          />
          <img
            src="assets/img/homepage-imgs/elephant-hill-3.jpg"
            alt="elephant-hill-3"
          />
          <img
            src="assets/img/homepage-imgs/loldia-eburru-3.jpg"
            alt="loldia-eburru-3"
          />
          <img
            src="assets/img/homepage-imgs/rurimeria-2-1.jpg"
            alt="rurimeria-2-1"
          />
          <img
            src="assets/img/homepage-imgs/loldia-eburru-3.jpg"
            alt="loldia-eburru-3"
          />

          <img
            src="assets/img/homepage-imgs/elephant-hill-2-1.jpg"
            alt="elephant-hill-2-1"
          />
          <img
            src="assets/img/homepage-imgs/elephant-hill-3.jpg"
            alt="elephant-hill-3"
          />
          <img
            src="assets/img/homepage-imgs/loldia-eburru-3.jpg"
            alt="loldia-eburru-3"
          />
          <img
            src="assets/img/homepage-imgs/rurimeria-2-1.jpg"
            alt="rurimeria-2-1"
          />
          <img
            src="assets/img/homepage-imgs/loldia-eburru-3.jpg"
            alt="loldia-eburru-3"
          />
        </div>
      </div>

      <div class="column">
        <div class="flex flex-col scroll reverse scroll-reverse">
          <img
            src="assets/img/homepage-imgs/elephant-hill-2-1.jpg"
            alt="elephant-hill-2-1"
          />
          <img
            src="assets/img/homepage-imgs/elephant-hill-3.jpg"
            alt="elephant-hill-3"
          />
          <img
            src="assets/img/homepage-imgs/loldia-eburru-3.jpg"
            alt="loldia-eburru-3"
          />
          <img
            src="assets/img/homepage-imgs/rurimeria-2-1.jpg"
            alt="rurimeria-2-1"
          />
          <img
            src="assets/img/homepage-imgs/loldia-eburru-3.jpg"
            alt="loldia-eburru-3"
          />

          <img
            src="assets/img/homepage-imgs/elephant-hill-2-1.jpg"
            alt="elephant-hill-2-1"
          />
          <img
            src="assets/img/homepage-imgs/elephant-hill-3.jpg"
            alt="elephant-hill-3"
          />
          <img
            src="assets/img/homepage-imgs/loldia-eburru-3.jpg"
            alt="loldia-eburru-3"
          />
          <img
            src="assets/img/homepage-imgs/rurimeria-2-1.jpg"
            alt="rurimeria-2-1"
          />
          <img
            src="assets/img/homepage-imgs/loldia-eburru-3.jpg"
            alt="loldia-eburru-3"
          />
        </div>
      </div>
    </div>


  </div>
</div>

<app-footer></app-footer>
