<app-header></app-header>

<div class="home max-w-7xl mx-auto relative min-h-screen">

  <div class="flex flex-nowrap h-screen overflow-hidden">

    <div class="content-left relative">

      <div class="draggable-item absolute top-16 left-0" id ="boot-icon">
        <img src="assets/img/boot-icon.png" class="h-20 w-auto" alt="boot" />
      </div>
      
      <div class="hero-text-section">

        <h1 class="text-8xl font-speakeasy text-orange-600 pt-5">
          Adventure is out there!
        </h1>

        <a
          class="green-button"
          [routerLink]="['/upcoming-hikes']"
        >
          View Hikes
        </a>
      </div>

      <div class="draggable-item absolute right-16 top-1/2" id ="bag-icon">
        <img src="assets/img/hiking-bag.png" class="h-24 w-auto" alt="bag" />
      </div>

    </div>

    <div class="content-right flex flex-row">
      <div class="column">
        <div class="flex flex-col scroll scroll-top">
          <img
            src="assets/img/homepage-imgs/elephant-hill-2-1.jpg"
            alt="elephant-hill-2-1"
          />
          <img
            src="assets/img/homepage-imgs/elephant-hill-3.jpg"
            alt="elephant-hill-3"
          />
          <img
            src="assets/img/homepage-imgs/loldia-eburru-3.jpg"
            alt="loldia-eburru-3"
          />
          <img
            src="assets/img/homepage-imgs/rurimeria-2-1.jpg"
            alt="rurimeria-2-1"
          />
          <img
            src="assets/img/homepage-imgs/loldia-eburru-3.jpg"
            alt="loldia-eburru-3"
          />

          <img
            src="assets/img/homepage-imgs/elephant-hill-2-1.jpg"
            alt="elephant-hill-2-1"
          />
          <img
            src="assets/img/homepage-imgs/elephant-hill-3.jpg"
            alt="elephant-hill-3"
          />
          <img
            src="assets/img/homepage-imgs/loldia-eburru-3.jpg"
            alt="loldia-eburru-3"
          />
          <img
            src="assets/img/homepage-imgs/rurimeria-2-1.jpg"
            alt="rurimeria-2-1"
          />
          <img
            src="assets/img/homepage-imgs/loldia-eburru-3.jpg"
            alt="loldia-eburru-3"
          />
        </div>
      </div>

      <div class="column">
        <div class="flex flex-col scroll reverse scroll-reverse">
          <img
            src="assets/img/homepage-imgs/elephant-hill-2-1.jpg"
            alt="elephant-hill-2-1"
          />
          <img
            src="assets/img/homepage-imgs/elephant-hill-3.jpg"
            alt="elephant-hill-3"
          />
          <img
            src="assets/img/homepage-imgs/loldia-eburru-3.jpg"
            alt="loldia-eburru-3"
          />
          <img
            src="assets/img/homepage-imgs/rurimeria-2-1.jpg"
            alt="rurimeria-2-1"
          />
          <img
            src="assets/img/homepage-imgs/loldia-eburru-3.jpg"
            alt="loldia-eburru-3"
          />

          <img
            src="assets/img/homepage-imgs/elephant-hill-2-1.jpg"
            alt="elephant-hill-2-1"
          />
          <img
            src="assets/img/homepage-imgs/elephant-hill-3.jpg"
            alt="elephant-hill-3"
          />
          <img
            src="assets/img/homepage-imgs/loldia-eburru-3.jpg"
            alt="loldia-eburru-3"
          />
          <img
            src="assets/img/homepage-imgs/rurimeria-2-1.jpg"
            alt="rurimeria-2-1"
          />
          <img
            src="assets/img/homepage-imgs/loldia-eburru-3.jpg"
            alt="loldia-eburru-3"
          />
        </div>
      </div>

    </div>
  </div>
</div>

<app-footer></app-footer>
