<div
  class="banner-container relative"
  [ngClass]="locationImage !== '' ? 'parallax-effect' : ''"
  [ngStyle]="{ 'background-image': 'url(' + locationImage + ')' }"
>
  <div class="banner-text absolute z-10 top-1/2 left-1/2">

    <h2 class="white-hover-underline font-garamondItalic text-8xl text-center uppercase">
      {{ hikeTitle }}
    </h2>

  </div>

  <div class="overlay absolute w-full h-full bg-black opacity-30"></div>

  <img class="hide-image" src="{{ locationImage }}" alt="" />
</div>
