<header class="bg-[#266b5a] text-white navbar-header">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex items-center justify-between h-20">
    <!-- Logo -->
    <div class="flex items-center space-x-4">
      <img src="assets/img/Trail-Trekkers-logo.png" alt="Trail Trekkers" class="h-16 w-auto" />
    </div>

    <!-- Navigation -->
    <nav class="hidden md:flex space-x-8 text-xl">
      <a href="#" class="hover:text-orange-300 transition font-passion">Upcoming Hikes</a>
      <a href="#" class="hover:text-orange-300 transition font-passion">Adventures</a>
      <a href="#" class="hover:text-orange-300 transition font-passion">About</a>
      <a href="#" class="hover:text-orange-300 transition font-passion">Community</a>
    </nav>
  </div>

</header>
