<header class="bg-[#FAF8EC] text-white shadow-md py-2">
  <div
    class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex items-center justify-between h-20"
  >
    <!-- Logo -->
    <div class="flex items-center space-x-4">
      <a [routerLink]="['']">
        <img
          src="assets/img/Trail-Trekkers-logo.png"
          alt="Trail Trekkers"
          class="h-20 w-auto"
        />
      </a>
    </div>

    <!-- Navigation -->
    <nav class="hidden md:flex space-x-8 text-xl">
      <a
        [routerLink]="['/upcoming-hikes']"
        [routerLinkActive]="['text-orange-600']"
        class="hover:text-orange-600 transition orange-hover-underline font-passion text-black"
      >
        Upcoming Hikes
      </a>

      <a
        [routerLink]="['/adventures']"
        [routerLinkActive]="['text-orange-600']"
        class="hover:text-orange-600 transition orange-hover-underline font-passion text-black"
      >
        Adventures
      </a>

      <a
        [routerLink]="['/about']"
        [routerLinkActive]="['text-orange-600']"
        class="hover:text-orange-600 transition orange-hover-underline font-passion text-black"
        >About</a
      >
      <a
        href="#"
        class="hover:text-orange-600 transition orange-hover-underline font-passion text-black"
        >Community</a
      >
    </nav>

    <!--Mobile Navigation-->
    <div class="mobile-nav flex items-center md:hidden">
      <!-- Mobile menu button-->
      <button
        type="button"
        (click)="toggleMenu()"
        class="relative text-gray-950"
      >
        <div
          class="icon-style text-4xl transform transition-transform duration-300 ease-in-out" 
          [ngClass]="isRotated ? 'rotate-90' : 'rotate-0'"
        >
          <fa-icon [icon]="'compass'"></fa-icon>
        </div>
      </button>
    </div>

    <div 
      class="md:hidden mobile-nav-menu transition duration-300 ease-in-out" 
      [ngClass]="{
        'translate-x-0': isMobileMenuOpen,
        '-translate-x-full': !isMobileMenuOpen
      }">
      <nav class="mt-9">
        <ul>
          <li>
            <a
              [routerLink]="['/upcoming-hikes']"
              [routerLinkActive]="['text-orange-600']"
              class="hover:text-orange-600 transition orange-hover-underline font-passion text-black"
            >
              Upcoming Hikes
            </a>
          </li>

          <li>
            <a
              [routerLink]="['/adventures']"
              [routerLinkActive]="['text-orange-600']"
              class="hover:text-orange-600 transition orange-hover-underline font-passion text-black"
            >
              Adventures
            </a>
          </li>

          <li>
            <a
              [routerLink]="['/about']"
              [routerLinkActive]="['text-orange-600']"
              class="hover:text-orange-600 transition orange-hover-underline font-passion text-black"
              >About
            </a>
          </li>

          <li>
            <a
              href="#"
              class="hover:text-orange-600 transition orange-hover-underline font-passion text-black"
              >Community
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
