<div
  class="banner-container relative"
  [ngClass]="locationImage !== '' ? 'parallax-effect' : ''"
  [ngStyle]="{ 'background-image': 'url(' + locationImage + ')' }"
>
  <div class="banner-text absolute z-10 top-1/2 left-1/2">
    <h2 class="text-white font-garamondItalic text-9xl text-center uppercase max-[768px]:text-7xl max-[600px]:text-5xl">
      {{ hikeTitle }}
    </h2>

    <p class="text-white font-garamondRegular text-4xl flex justify-center max-[768px]:text-3xl max-[600px]:text-2xl">
      <span>
        <fa-icon
          class="icon-style text-3xl mr-2 max-[768px]:text-2xl"
          [icon]="['fas', 'location-dot']"
        >
        </fa-icon>
      </span>
      {{ hikeLocation }}
    </p>
  </div>

  <div class="overlay absolute w-full h-full bg-black opacity-30"></div>

  <img class="hide-image" src="{{ locationImage }}" alt="" />
</div>
