<div class="relative mb-5 single-post">
  <div class="post-image">
    <img
      [src]="postImageUrl"
      [alt]="postImageAlt"
      class="w-full h-auto object-cover inline-block transition-transform duration-200 ease-out [transform-style:preserve-3d]"
      (mouseenter)="handleHover($event)"
      (mouseleave)="resetStyles($event)"
    />

    <div class="post-content p-4 absolute bottom-0 w-full">
      <a
        class="text-5xl w-full uppercase font-garamondItalic text-white text-center white-hover-underline"
        [routerLink]="['/single-adventure-post']"
      >
        {{ postTitle }}
      </a>
      <h3 class="text-2xl font-garamondRegular text-white text-center mt-2">
        {{ postSubtitle }}
      </h3>

      <p class="text-lg font-garamondRegular text-white text-center mt-1">
        {{ postDate | date: 'longDate' }}
      </p>

    </div>
  </div>
</div>
