<app-preloader *ngIf="siteImages.length < 1"></app-preloader>
<app-preloader *ngIf="loadingContent"></app-preloader>

<app-header></app-header>

<div class="adventures max-w-6xl mx-auto relative min-h-screen">

  <div class="hero-section mt-12 mb-10 max-[500px]:w-11/12 m-auto">
    <h1 class="display-1 max-[1280px]:text-6xl max-[768px]:pt-0 text-5xl max-[500px]:text-4xl">Explore some of the adventures</h1>
    <p class="text-6xl text-center mt-4 text-orange-600 font-garamondRegular max-[768px]:text-4xl max-[500px]:text-3xl">
      ...by the Young Professional Hikers
    </p>
  </div>

  <div class="adventure-post-articles mr-5 ml-5">
    <div class="flex flex-wrap gap-6 mt-10 mb-5 max-[768px]:w-11/12 m-auto max-[500px]:mt-0">
      <div class="columns-3 max-[1000px]:columns-2 max-[500px]:columns-1 w-full">
        <app-single-post-item
          class="single-post-item"
          *ngFor="let adventurePost of adventurePosts"
          [postTitle]="adventurePost?.title?.rendered"
          [postUrl]="adventurePost?.slug"
          [postDate]="adventurePost.date"
          [postSubtitle]="adventurePost?.acf?.hike_location"
          [postImageUrl]="adventurePost?.acf?.featured_blog_image?.url"
          [postImageAlt]="adventurePost?.acf?.featured_blog_image?.alt"
        ></app-single-post-item>
      </div>
    </div>
  </div>

  <div
    class="min-[600px]:hidden draggable-item absolute top-10 right-10 z-10"
    id="boot-icon"
  >
    <img
      src="assets/img/vector-icons/boot-icon.png"
      class="h-14 w-auto"
      alt="boot"
    />
  </div>
</div>

<app-footer></app-footer>
