<app-header></app-header>

<div class="adventures max-w-6xl mx-auto relative min-h-screen">

  <div class="draggable-item absolute top-16 left-0 z-10" id="boot-icon">
    <img src="assets/img/boot-icon.png" class="h-20 w-auto" alt="boot" />
  </div>

  <div class="hero-section mt-12 mb-10">
    <h1 class="display-1 ">
      Explore some of the adventures
    </h1>
    <p class="text-6xl text-center mt-4 text-orange-600 font-garamondRegular">
      ...from well-seasoned hikers
    </p>
  </div>

  <div class="adventure-post-articles">
    <div class="flex flex-wrap gap-6 mt-10">
      <div class="columns-3">
        <app-single-post-item
          class="single-post-item"
          *ngFor="let adventurePost of adventurePosts"
          [postTitle]="adventurePost.title"
          [postSubtitle]="adventurePost.location"
          [postImageUrl]="adventurePost.imageUrl"
          [postImageAlt]="adventurePost.imageAlt"
        ></app-single-post-item>
      </div>
    </div>
  </div>

  <div class="draggable-item absolute top-16 right-0 z-10" id="bag-icon">
    <img src="assets/img/hiking-bag.png" class="h-24 w-auto" alt="bag" />
  </div>

</div>

<app-footer></app-footer>
