//typography

.body-background {
  background-color: #faf8ec;
}

p {
  font-family: "apple_garamondregular";
  font-size: 1.65rem;
  line-height: 1.1;
  margin-bottom: 10px;
}

.home {
  .content-left {
    width: 35%;
    min-height: 100vh;
    height: auto;

    .hero-text-section {
      margin-top: -200px;
      position: absolute;
      width: 100%;
      top: 50%;
      left: 0%;
      h1 {
        line-height: 0.85;
      }
    }
  }
  .content-right {
    width: 65%;

    .column {
      .scroll {
        animation: scroll-up 50s linear infinite;

        img {
          width: 95%;
          height: auto;
          object-fit: cover;
          margin-bottom: 20px;
          border-radius: 20px;
        }

        &:hover {
          animation-duration: 150s;
        }
      }

      .reverse {
        animation: scroll-down 50s linear infinite;

        &:hover {
          animation-duration: 150s;
        }
      }
    }
  }
}

@keyframes scroll-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes scroll-down {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

.single-post-item {
  will-change: transform;
  transition: transform 0.5s ease;
  transform-style: preserve-3d;
}

.underline {
  display: inline-block;
  margin-top: 5px;
}

//banner styles
.hide-image {
  visibility: hidden;
}

.banner-text {
  transform: translate(-50%, -50%);
}

//inner blog-post page
.scrollbar-container {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 15px;
  z-index: 9999;
}

#scrollbarBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #f85e00;
  transition: width 0.30s ease-out;
}

.blog-article-section{
  .quote-section{
    blockquote {
      font-size: 60px;
      text-align: center;
      line-height: 1.1;
    }
  }
}