.body-background {
  background-color: #faf8ec;
}

p {
  font-family: "apple_garamondregular";
  font-size: 1.65rem;
  line-height: 1.1;
  margin-bottom: 10px;
}

.home {
  .content-left {
    width: 35%;
    min-height: 100vh;
    height: auto;

    .rotating-badge {
      filter: drop-shadow(rgba(0, 0, 0, 0.5) 8px 8px 10px);
    }

    .hero-text-section {
      margin-top: -200px;
      position: absolute;
      width: 100%;
      top: 50%;
      left: 0%;
      h1 {
        line-height: 0.85;
      }
    }
  }
  .content-right {
    width: 65%;

    .column {
      .scroll {
        animation: scroll-up 50s linear infinite;

        img {
          width: 95%;
          height: auto;
          object-fit: cover;
          margin-bottom: 20px;
          border-radius: 20px;
        }

        &:hover {
          animation-duration: 150s;
        }
      }

      .reverse {
        animation: scroll-down 50s linear infinite;

        &:hover {
          animation-duration: 150s;
        }
      }
    }
  }
}

@keyframes scroll-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes scroll-down {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

.single-post-item {
  will-change: transform;
  transition: transform 0.5s ease;
  transform-style: preserve-3d;
}

.underline {
  display: inline-block;
  margin-top: 5px;
}

.hide-image {
  visibility: hidden;
}

.banner-text {
  transform: translate(-50%, -50%);
}

.scrollbar-container {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 15px;
  z-index: 9999;
}

#scrollbarBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #f85e00;
  transition: width 0.3s ease-out;
}

.blog-article-section {
  .quote-section {
    blockquote {
      font-size: 60px;
      text-align: center;
      line-height: 1.1;
    }
  }
}

.preloader {
  height: 100%;
  z-index: 9999;
  position: fixed;
  width: 100%;

  .loading-text {
    font-weight: 500;
    color: #f85e00;
  }

  .fade-out-up {
    opacity: 0;
    transform: translateY(-30px);
  }
}

@keyframes pulse {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

.loading-text {
  animation: pulse 1.5s infinite;
}

.mobile-nav-menu {
  ul {
    li {
      a {
        display: block;
        height: 50px;
        line-height: 50px;
        text-indent: 15px;
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .home {
    .content-left {
      .hero-text-section {
        margin-top: -160px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .home {
    background-color: #f4e285;
    .content-right {
      width: 60%;
    }
    .content-left {
      width: 40%;

      .hero-text-section {
        margin-top: -110px;

        .green-button {
          font-size: 1.35rem;
          padding-top: 0.55rem;
          padding-bottom: 0.55rem;
          line-height: 1.5rem;
        }
      }
    }
  }

  .blog-article-section {
    .blog-intro-section {
      h2 {
        font-size: 2.75rem;
      }
      p {
        font-size: 1.5rem;
      }

      .intro {
        order: 1;

        p {
          text-align: justify;
        }
      }
    }

    .journey-section,
    .rewarding-views-section {
      h2 {
        font-size: 2.75rem;
      }

      p {
        font-size: 1.5rem;
      }

      .text-section {
        p {
          text-align: justify;
        }
      }
    }

    .quote-section {
      blockquote {
        font-size: 40px;
        line-height: 1;
      }
    }

    .in-summary-text {
      text-align: center;

      h2 {
        font-size: 2.75rem;
      }

      .single-hike-info-item {
        justify-content: center;
      }
    }

    .adventure-post-articles {
      h4 {
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 2.75rem;
      }
    }
  }

  .banner-container {
    .banner-text {
      padding: 0 20px;
    }
  }

  .about-container {
    .about-title-section {
      .about-title {
        h1 {
          font-size: 2.75rem;
        }
        p {
          font-size: 1.5rem;
          line-height: 1.1;
        }

        .text-section {
          p {
            text-align: justify;
          }
        }
      }
    }
  }

  .how-it-started-section {
    .how-it-started-title {
      .how-it-started-cnt {
        p {
          font-size: 1.5rem;
          line-height: 1.1;
          text-align: justify;
        }

        .quote-section {
          blockquote {
            font-size: 40px;
            line-height: 1;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .hero-section {
    .display-1 {
      padding-top: 0rem;
    }
  }

  .home {
    .content-left {
      width: 100%;
      transform: translate(0%, 0%);

      .hero-text-section {
        .green-button {
          width: 90%;
          margin-left: 5%;
          margin-left: 5%;
        }
      }
    }
  }

  .blog-article-section {
    .blog-intro-section {
      h2 {
        font-size: 2.5rem;
      }
      p {
        font-size: 1.35rem;
      }
    }

    .journey-section,
    .rewarding-views-section {
      h2 {
        font-size: 2.5rem;
      }
      p {
        font-size: 1.35rem;
      }

      .quote-section {
        blockquote {
          font-size: 35px;
        }
      }
    }

    .in-summary-text {
      h2 {
        font-size: 2.5rem;
      }
    }

    .adventure-post-articles {
      h4 {
        font-size: 2.5rem;
      }
    }
  }

  .post-content {
    a {
      line-height: 2rem;
    }
    h3 {
      margin-top: 0px;
      line-height: 1.5rem;
    }
  }

  .about-container {
    .about-title-section {
      .about-title {
        h1 {
          font-size: 2.5rem;
        }
        p {
          font-size: 1.35rem;
        }
      }
    }
  }

  .how-it-started-section {
    .how-it-started-title {
      .how-it-started-cnt {
        p {
          font-size: 1.35rem;
        }

        .quote-section {
          blockquote {
            font-size: 35px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .hero-section,
  .hikes-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .post-content {
    h3 {
      line-height: 1.25rem;
    }
  }

  .adventure-post-articles {
    .adventure-post-items {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }
}

@media screen and (max-width: 400px) {

  .blog-article-section {
    .blog-intro-section {
      h2 {
        font-size: 2rem;
      }
      p {
        font-size: 1.25rem;
      }
    }

    .journey-section,
    .rewarding-views-section {
      h2 {
        font-size: 2rem;
      }
      p {
        font-size: 1.25rem;
      }

      .quote-section {
        blockquote {
          font-size: 30px;
        }
      }
    }

    .in-summary-text {
      h2 {
        font-size: 2rem;
      }
    }

    .adventure-post-articles {
      h4 {
        font-size: 2rem;
      }
    }
  }

  .about-container {
    .about-title-section {
      .about-title {
        h1 {
          font-size: 2rem;
        }
        p {
          font-size: 1.25rem;
        }
      }
    }
  }

  .how-it-started-section {
    .how-it-started-title {
      .how-it-started-cnt {
        p {
          font-size: 1.25rem;
        }
        .quote-section {
          blockquote {
            font-size: 30px;
          }
        }
      }
    }
  }

}
