.banner-section {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;

  h1 {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'apple_garamonditalic', serif;
  }

  h2{
    font-size: 1.5rem;
    font-weight: normal;
    font-family: 'sf-speakeasy', sans-serif;
  }

  p{
    font-family: 'passion_oneregular', sans-serif;
  }
}
