<app-preloader *ngIf="siteImages.length < 1"></app-preloader>

<app-header></app-header>

<div class="scrollbar-container">
  <div class="scrollbar-bg" id="scrollbarBg"></div>
</div>

<div class="hike-banner-section relative">
  <app-hike-banner
    [hikeTitle]="adventurePostContent?.title?.rendered"
    [hikeLocation]="adventurePostContent?.acf?.hike_location"
    [locationImage]="adventurePostContent?.acf?.hike_banner_image?.url"
    [locationImageAlt]="adventurePostContent?.acf?.hike_banner_image?.alt"
  ></app-hike-banner>
</div>

<div class="blog-article-section">
  <div class="container">
    <div class="blog-intro-section">
      <div class="w-full text-center mt-8 mb-8">
        <h2 class="display-2 orange-hover-underline">
          {{ adventurePostContent?.acf?.intro_title }}
        </h2>
        <p class="blog-intro-date">
          Posted on {{ adventurePostContent?.date | date : "longDate" }}
        </p>
      </div>

      <div
        class="columns-2 gap-4 blog-intro-text mt-10 mb-10 flex max-[768px]:flex-col"
      >
        <div class="nav-section w-1/3 max-[768px]:w-full">
          <ul>
            <li
              class="font-passion text-2xl hover:text-orange-600 cursor-pointer max-[500px]:text-xl"
              (click)="scrollToTarget('theJourney')"
            >
              <fa-icon
                class="icon-style text-sm mr-1"
                [icon]="['fas', 'location-arrow']"
              ></fa-icon>
              <a class="orange-hover-underline"> The Journey </a>
            </li>

            <li
              class="font-passion text-2xl hover:text-orange-600 cursor-pointer max-[500px]:text-xl"
              (click)="scrollToTarget('rewardingViews')"
            >
              <fa-icon
                class="icon-style text-sm mr-1"
                [icon]="['fas', 'location-arrow']"
              ></fa-icon>
              <a class="orange-hover-underline"> The Rewarding Views </a>
            </li>

            <li
              class="font-passion text-2xl hover:text-orange-600 cursor-pointer max-[500px]:text-xl"
              (click)="scrollToTarget('inSummary')"
            >
              <fa-icon
                class="icon-style text-sm mr-1"
                [icon]="['fas', 'location-arrow']"
              ></fa-icon>
              <a class="orange-hover-underline">In Summary... </a>
            </li>
          </ul>
        </div>

        <div
          class="intro w-2/3 max-[768px]:w-full"
          [innerHTML]="adventurePostContent?.acf?.intro"
        ></div>
      </div>
    </div>

    <div #theJourney class="journey-section">
      <div class="columns-2 gap-8 journey-text mb-12 max-[768px]:columns-1">
        <div class="text-section">
          <h2 class="display-2 orange-hover-underline mb-5 max-[768px]:mt-5">
            The Journey
          </h2>
          <div
            [innerHTML]="
              adventurePostContent?.acf?.the_journey_section?.the_journey
            "
          ></div>
        </div>

        <div class="img-section mt-8 max-[768px]:mt-3">
          <img
            src="{{ adventurePostContent?.acf?.the_journey_section?.image_section?.url }}"
            alt="{{ adventurePostContent?.acf?.the_journey_section?.image_section?.alt }}"
            class="h-auto max-w-full rounded-lg inline-block"
          />
        </div>
      </div>

      <div class="quote-section mt-14 mb-14">
        <blockquote
          class="font-garamondItalic"
          [innerHTML]="
            adventurePostContent?.acf?.the_journey_section?.blockquote
          "
        ></blockquote>
      </div>

      <div class="photo-grid-section mb-8">
        <div class="columns-2 gap-8 space-y-8 max-[500px]:gap-3">
          <img
            src="{{ adventurePostContent?.acf?.the_journey_section?.photo_grid['photo-1']?.url }}"
            alt="{{ adventurePostContent?.acf?.the_journey_section?.photo_grid['photo-1']?.alt }}"
            class="w-full aspect-auto rounded-lg"
          />

          <img
            src="{{ adventurePostContent?.acf?.the_journey_section?.photo_grid['photo-2']?.url }}"
            alt="{{ adventurePostContent?.acf?.the_journey_section?.photo_grid['photo-2']?.alt }}"
            class="w-full aspect-auto rounded-lg"
          />

          <img
            src="{{ adventurePostContent?.acf?.the_journey_section?.photo_grid['photo-3']?.url }}"
            alt="{{ adventurePostContent?.acf?.the_journey_section?.photo_grid['photo-3']?.alt }}"
            class="w-full aspect-auto rounded-lg"
          />
        </div>
      </div>
    </div>
  </div>

  <div #rewardingViews class="rewarding-views-section">
    <div class="banner-image-section">
      <app-post-hero-image
        [hikeTitle]="'The Rewarding Views'"
        [locationImage]="adventurePostContent?.acf?.the_rewarding_views?.post_hero_image_section?.post_hero_image?.url"
      ></app-post-hero-image>
    </div>

    <div class="container mt-10 mb-10">
      <div class="text-section">
        <div
          [innerHTML]="
            adventurePostContent?.acf?.the_rewarding_views
              ?.rewarding_views_text_section
          "
        ></div>
      </div>

      <div class="photo-grid-section mt-8 mb-8">
        <div class="columns-2 gap-8 space-y-8 max-[500px]:gap-4">
          <img
            src="{{ adventurePostContent?.acf?.the_rewarding_views?.photo_grid['photo-1']?.url }}"
            alt="{{ adventurePostContent?.acf?.the_rewarding_views?.photo_grid['photo-1']?.alt }}"
            class="w-full aspect-auto rounded-lg"
          />

          <img
            src="{{ adventurePostContent?.acf?.the_rewarding_views?.photo_grid['photo-2']?.url }}"
            alt="{{ adventurePostContent?.acf?.the_rewarding_views?.photo_grid['photo-2']?.alt }}"
            class="w-full aspect-auto rounded-lg"
          />

          <img
            src="{{ adventurePostContent?.acf?.the_rewarding_views?.photo_grid['photo-3']?.url }}"
            alt="{{ adventurePostContent?.acf?.the_rewarding_views?.photo_grid['photo-3']?.alt }}"
            class="w-full aspect-auto rounded-lg"
          />

          <img
            src="{{ adventurePostContent?.acf?.the_rewarding_views?.photo_grid['photo-4']?.url }}"
            alt="{{ adventurePostContent?.acf?.the_rewarding_views?.photo_grid['photo-4']?.alt }}"
            class="w-full aspect-auto rounded-lg"
          />

          <img
            src="{{ adventurePostContent?.acf?.the_rewarding_views?.photo_grid['photo-5']?.url }}"
            alt="{{ adventurePostContent?.acf?.the_rewarding_views?.photo_grid['photo-5']?.alt }}"
            class="w-full aspect-auto rounded-lg"
          />
        </div>
      </div>

      <div class="text-section mt-10 mb-10">
        <div
          [innerHTML]="
            adventurePostContent?.acf?.the_rewarding_views?.text_section
          "
        ></div>
      </div>
    </div>
  </div>

  <div
    #inSummary
    class="container in-summary-section columns-2 mt-8 mb-5 gap-8 flex max-[768px]:flex-col max-[500px]:mb-0"
  >
    <div class="image-section w-1/2 max-[768px]:w-full">
      <img
        src="{{ adventurePostContent?.acf?.in_summary?.image_section?.url }}"
        alt="{{ adventurePostContent?.acf?.in_summary?.image_section?.alt }}"
        class="h-auto rounded-lg"
      />
    </div>

    <div class="in-summary-text w-1/2 max-[768px]:w-full">
      <h2 class="display-2 orange-hover-underline mb-5">In Summary...</h2>

      <div class="list-items-section flex flex-col">
        <app-single-hike-info-item
          class="w-full single-list-item mb-6"
          *ngFor="let hikeInfoItem of hikeInfoDetails"
          [hikeInfoIcon]="hikeInfoItem.infoIcon"
          [hikeInfoTitle]="hikeInfoItem.infoTitle"
          [hikeInfoDescription]="hikeInfoItem.infoDescription"
        ></app-single-hike-info-item>
      </div>
    </div>
  </div>

  <!-- <div class="container">
    <div class="adventure-post-articles">
      <h4 class="display-2 orange-hover-underline mb-8 mt-8">
        More adventures...
      </h4>

      <div class="flex gap-6 mt-10 mb-10 adventure-post-items">
        <div
          class="columns-3 max-[1000px]:columns-2 max-[500px]:columns-1 w-full"
        >
          <app-single-post-item
            class="single-post-item"
            *ngFor="let adventurePost of adventurePosts"
            [postTitle]="adventurePost.title"
            [postDate]="adventurePost.postDate"
            [postSubtitle]="adventurePost.location"
            [postImageUrl]="adventurePost.imageUrl"
            [postImageAlt]="adventurePost.imageAlt"
          ></app-single-post-item>
        </div>
      </div>
    </div>
  </div> -->

</div>

<app-footer></app-footer>
