<div class="single-hike-info-item flex">
  <div class="flex items-center">
    
    <fa-icon class="icon-style text-4xl" [icon]="hikeInfoIcon"></fa-icon>

    <div class="single-hike-info ml-2">

      <p class="font-passion text-2xl text-left mb-1">{{ hikeInfoTitle }}</p>
      <p class="font-garamondRegular text-xl text-left">{{ hikeInfoDescription }}</p>

      <ul *ngIf="hikeInfoList">
        <li 
            *ngFor="let infoList of hikeInfoList"
            class="font-garamondRegular text-xl text-left">
            {{infoList}}
        </li>
      </ul>

    </div>

  </div>
</div>
