<app-preloader *ngIf="siteImages.length < 1"></app-preloader>

<app-preloader *ngIf="loadingContent"></app-preloader>

<app-header></app-header>

<div class="max-w-7xl mx-auto relative min-h-screen mt-1.5 mb-7">
  <div class="about-container m-5">
    <div
      class="about-title-section columns-2 gap-5 mb-10 mt-10 max-[768px]:columns-1"
    >
      <div class="about-title">
        <h1
          class="text-8xl font-speakeasy text-orange-600 pb-5 max-[1100px]:text-6xl max-[768px]:text-center max-[500px]:text-5xl"
        >
          Hiking for young professionals
        </h1>

        <p
          class="font-garamondRegular font-normal text-4xl max-[1000px]:text-3xl"
        >
          <span
            class="font-bold text-8xl max-[1000px]:text-7xl max-[768px]:text-5xl max-[500px]:text-5xl"
            >{{ aboutContentDetails?.acf?.about_section?.first_letter }}
            </span>
          {{ aboutContentDetails?.acf?.about_section?.intro_blockquote }}
          <span class="font-bold">
            {{ aboutContentDetails?.acf?.about_section?.source_of_quote }}
          </span>
        </p>

      </div>

      <div class="about-image-section relative">
        <div
          class="quote-section w-3/5 -rotate-6 absolute z-20 bottom-20 right-10 max-[768px]:right-5 text-right"
        >
          <blockquote class="font-garamondItalic text-4xl text-white white-hover-underline">
            {{ aboutContentDetails?.acf?.about_section?.about_side_image?.location }}
          </blockquote>
        </div>

        <div
          class="min-[768px]:hidden draggable-item absolute top-7 right-6 z-10"
          id="compass-icon"
        >
          <img
            src="assets/img/vector-icons/white-compass.png"
            class="h-20 w-auto rotating-compass"
            alt="compass"
          />
        </div>

        <img
          src="{{ aboutContentDetails?.acf?.about_section?.about_side_image?.image_section?.url }}"
          alt="{{ aboutContentDetails?.acf?.about_section?.about_side_image?.image_section?.alt }}"
          (mouseenter)="handleHover($event)"
          (mouseleave)="resetStyles($event)"
          class="h-auto rounded-3xl inline-block transition-transform duration-200 ease-out [transform-style:preserve-3d] max-[768px]:h-2/4"
        />
      </div>
    </div>

    <div class="why-we-do-this-section mt-5 mb-7 text-center">
      <div class="title-section pb-7">
        <h3 class="display-2 max-[768px]:text-5xl max-[500px]:text-4xl">
          Why do we do this?
        </h3>

        <svg class="underline" width="200" height="20" viewBox="0 0 200 20">
          <path
            id="underlinePath"
            d="M10 15 H190"
            stroke="#F85E00"
            stroke-width="2"
            fill="none"
          />
        </svg>
      </div>

      <div class="list-items-section flex pb-7 max-[768px]:flex-wrap">
        <app-single-about-item
          class="w-1/4 single-list-item max-[768px]:w-1/2 max-[500px]:w-full"
          *ngFor="let item of iconItems"
          [itemIcon]="item.infoIcon"
          [itemDescription]="item.infoDescription"
        ></app-single-about-item>
      </div>
    </div>

    <div class="how-it-started-section mt-5 mb-7 relative">
      <div class="title-section pb-7 text-center">
        <h3 class="display-2 max-[768px]:text-5xl max-[500px]:text-4xl">
          How it all started...
        </h3>

        <svg class="underline" width="200" height="20" viewBox="0 0 200 20">
          <path
            id="underlinePath"
            d="M10 15 H190"
            stroke="#F85E00"
            stroke-width="2"
            fill="none"
          />
        </svg>
      </div>

      <div
        class="how-it-started-title columns-2 gap-5 mb-5 flex max-[1024px]:flex-col"
      >
        <div class="how-it-started-cnt w-full">

          <div [innerHTML]="aboutContentDetails?.acf?.how_it_all_started?.how_it_all_started_content"></div>

          <div class="quote-section mt-4">
            <blockquote class="font-garamondItalic text-5xl text-orange-600 max-[500px]:text-center">
              {{ aboutContentDetails?.acf?.how_it_all_started?.blockquote }} 
            </blockquote>
            <small class="font-passion text-2xl pt-5 black-hover-underline">
              {{ aboutContentDetails?.acf?.how_it_all_started?.source_of_quote }}
            </small>
          </div>

        </div>

        <div class="about-image-section relative">
          <div class="quote-section w-3/5 -rotate-6 absolute z-20 top-10 right-10 max-[768px]:right-5 text-right max-[500px]:top-40 ">
            <blockquote class="font-garamondItalic white-hover-underline text-4xl max-[500px]:text-3xl">
              {{ aboutContentDetails?.acf?.how_it_all_started?.first_hike_image_section?.location_of_hike }}
            </blockquote>
          </div>

          <img
            src="{{ aboutContentDetails?.acf?.how_it_all_started?.first_hike_image_section?.image?.url }}"
            alt="{{ aboutContentDetails?.acf?.how_it_all_started?.first_hike_image_section?.image?.alt }}"
            class="w-full rounded-3xl inline-block relative brightness-50 hover:brightness-75 transition-transform duration-700 ease-in-out"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
