<app-header></app-header>

<div class="max-w-7xl mx-auto relative min-h-screen mt-1.5">
  <div class="about-title-section columns-2 gap-2 mb-5">
    <div class="about-title">
      <h1 class="text-8xl font-speakeasy text-orange-600 pt-5">
        Hiking for young professionals
      </h1>

      <p class="font-garamondRegular text-4xl">
        <span class="font-garamondBold text-8xl">"T</span>he whole point of
        leisure is that time is not just something to be filled with work or
        usefulness, but is itself a gift."
      </p>
    </div>

    <div class="about-image-section">
      <img
        src="assets/img/mount-ol-donyo-sabuk-1.jpg"
        alt="mount-ol-donyo-sabuk"
        class="h-2/4"
      />
    </div>
  </div>

  <div class="why-we-do-this-section">
    <div class="title-section">
      <h3 class="display-2">Why do we do this?</h3>
    </div>

    <div class="list-items-section flex columns-4 gap-2">
      <div class="single-item w-2/12">
        <div class="icon-section">
          <img
            src="assets/img/icons/public.png"
            alt="globe-icon"
            class="w-1/5"
          />
        </div>
        <div class="item-description">
          <p class="font-garamondRegular text-center text-2xl">
            Admire the mysteries and wonders of God's creations
          </p>
        </div>
      </div>

      <div class="single-item w-2/12">
        <div class="icon-section">
          <img
            src="assets/img/icons/directions_bus.png"
            alt="directions_bus"
            class="w-1/5"
          />
        </div>
        <div class="item-description">
          <p class="font-garamondRegular text-center text-2xl">
            Get out of town
          </p>
        </div>
      </div>

      <div class="single-item w-2/12">
        <div class="icon-section">
          <img
            src="assets/img/icons/users.png"
            alt="globe-icon"
            class="w-1/5"
          />
        </div>
        <div class="item-description">
          <p class="font-garamondRegular text-center text-2xl">
            Connect and create friendships
          </p>
        </div>
      </div>

      <div class="single-item w-2/12">
        <div class="icon-section">
          <img src="assets/img/icons/sun.png" alt="globe-icon" class="w-1/5" />
        </div>
        <div class="item-description">
          <p class="font-garamondRegular text-center text-2xl">
            Recover a sense of awe with the nature world
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="how-it-started-section">
    <div class="title-section">
      <h3 class="display-2">How it all started</h3>
    </div>

    <div class="how-it-started-title columns-2 gap-2 mb-5">
      <div class="how-it-started-cnt">
        <p class="font-garamondRegular text-4xl">
          <span class="font-garamondBold text-8xl">T</span>he whole point of
          leisure is that time is not just something to be filled with work or
          usefulness, but is itself a gift."
        </p>

        <p class="font-garamondRegular text-4xl">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec
          bibendum eros, ac iaculis tellus. Aenean congue lacus sed turpis
          sagittis, nec pretium erat volutpat.
        </p>

        <p class="font-garamondRegular text-4xl">
          Aliquam pulvinar bibendum est sit amet tincidunt.
        </p>
      </div>

      <div class="about-image-section">
        <img src="assets/img/first-hike.jpg" alt="first-hike" class="h-2/4" />
      </div>
    </div>
  </div>

  
</div>

<app-footer></app-footer>
