<app-preloader
    *ngIf="siteImages.length < 1"
></app-preloader>

<app-header></app-header>

<div class="hike-banner-section relative">
  
  <app-hike-banner
    [hikeTitle]="'Kilimambogo'"
    [hikeLocation]="'Off Thika-Garissa Highway'"
    [locationImage]="'assets/img/mount-ol-donyo-sabuk-hero-1.jpg'"
    [locationImageAlt]="'mount-ol-donyo-sabuk'"
  ></app-hike-banner>
</div>

<div class="single-hike-post min-h-screen max-w-6xl mx-auto">

  <div class="intro-section text-center mt-5 mb-10">
    <p class="font-garamondRegular text-4xl">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec
      bibendum eros, ac iaculis tellus. Aenean congue lacus sed turpis sagittis,
      nec pretium erat volutpat. Aliquam pulvinar bibendum est sit amet
      tincidunt.
    </p>
  </div>

  <div class="what-you-need-to-know-section text-center">
    <div class="title-section pb-7">
      <h3 class="display-2">What you need to know....</h3>

      <svg class="underline" width="200" height="20" viewBox="0 0 200 20">
        <path
          id="underlinePath"
          d="M10 15 H190"
          stroke="#F85E00"
          stroke-width="2"
          fill="none"
        />
      </svg>
    </div>

    <div class="list-items-section flex flex-wrap justify-evenly">
        
      <app-single-hike-info-item
        class="w-1/3 single-list-item mb-6"
        *ngFor="let hikeInfoItem of hikeInfoDetails"
        [hikeInfoIcon]="hikeInfoItem.infoIcon"
        [hikeInfoTitle]="hikeInfoItem.infoTitle"
        [hikeInfoDescription]="hikeInfoItem.infoDescription"
        [hikeInfoList]="hikeInfoItem.infoList"
      ></app-single-hike-info-item>

    </div>

    <a class="green-button"> Register Here </a>

  </div>
</div>


<app-footer></app-footer>
