<app-preloader *ngIf="siteImages.length < 1"></app-preloader>

<app-preloader *ngIf="loadingContent"></app-preloader>

<app-header></app-header>

<div class="hike-banner-section relative">
  <app-hike-banner
    [hikeTitle]="hikeInfoDetails?.title?.rendered"
    [hikeLocation]="hikeInfoDetails?.acf?.hike_location"
    [locationImage]="hikeInfoDetails?.acf?.hike_banner_image?.url"
    [locationImageAlt]="hikeInfoDetails?.acf?.hike_banner_image?.alt"
  ></app-hike-banner>
</div>

<div class="single-hike-post min-h-screen max-w-6xl mx-auto">
  <div
    class="intro-section text-center mt-5 mb-10 w-4/5 m-auto max-[500px]:w-11/12"
  >
    <p
      class="font-garamondRegular text-4xl leading-none max-[768px]:text-3xl max-[600px]:text-2xl max-[500px]:text-xl mb-0"
      [innerHTML]="hikeInfoDetails?.acf?.hike_summary"
    >
    </p>
  </div>

  <div class="what-you-need-to-know-section text-center">
    <div class="title-section pb-7">
      <h3 class="display-2 max-[768px]:text-4xl max-[600px]:text-3xl">
        What you need to know....
      </h3>

      <div class="max-[768px]:hidden">
        <svg class="underline" width="200" height="20" viewBox="0 0 200 20">
          <path
            id="underlinePath"
            d="M10 15 H190"
            stroke="#F85E00"
            stroke-width="2"
            fill="none"
          />
        </svg>
      </div>
    </div>

    <div
      class="list-items-section flex flex-wrap justify-center mb-5 max-[768px]:w-4/5 m-auto max-[500px]:w-11/12"
    >
      <app-single-hike-info-item
        class="w-1/4 single-list-item mb-6 max-[768px]:w-1/2"
        *ngFor="let hikeInfoItem of hikeInfoItems"
        [hikeInfoIcon]="hikeInfoItem.infoIcon"
        [hikeInfoTitle]="hikeInfoItem.infoTitle"
        [hikeInfoDescription]="hikeInfoItem.infoDescription"
        [hikeInfoList]="hikeInfoItem.infoList"
      ></app-single-hike-info-item>
      
    </div>

    <!-- <button 
      [disabled]="isButtonDisabled"
      [ngClass]="{
        'bg-gray-400 text-white w-6/12 px-6 py-3 rounded-lg text-2xl font-passion cursor-not-allowed': isButtonDisabled,
        'green-button': !isButtonDisabled
        }"> 
        Register Here 
    </button> -->

    <button 
      [ngClass]="hikeInfoDetails?.acf?.register_here ? 'green-button' : 'bg-gray-400 text-white w-6/12 px-6 py-3 rounded-lg text-2xl font-passion cursor-not-allowed'"
      (click)="redirectToLink()"
      [disabled]="!hikeInfoDetails?.acf?.register_here"> 
        Register Here 
    </button>

  </div>
</div>

<app-footer></app-footer>
