<div class="map-page">

   <!-- Replay button -->
  <button class="replay-btn" (click)="replayAnimation()">
    ↺ Replay
  </button>

  <!-- Zoom controls -->
  <div class="zoom-controls">
    <button (click)="zoomIn()"  title="Zoom in">＋</button>
    <button (click)="zoomOut()" title="Zoom out">－</button>
    <button (click)="resetZoom()" title="Reset">↺</button>
  </div>

 
<svg
  #svgEl
    [attr.viewBox]="svgViewBox"
    width="100%"
    height="100%"
    xmlns="http://www.w3.org/2000/svg"
    class="trail-svg"
    (mousedown)="onMouseDown($event)"
    (mousemove)="onMouseMove($event)"
    (mouseup)="onMouseUp()"
    (mouseleave)="onMouseUp()"
    (touchstart)="onTouchStart($event)"
    (touchmove)="onTouchMove($event)"
    (touchend)="onTouchEnd()">

    <g #zoomLayer>

      <!-- Base map injected here — no 2000 lines in template -->
      <g #mapContainer [innerHTML]="svgContent"></g>

      <!-- Dynamic red labels on top -->
      <g *ngFor="let label of labels"
        [attr.transform]="getTransform(label)"
        class="map-label"
        style="opacity: 0">
        <text
          *ngFor="let location of label.lines; let i = index"
          [attr.x]="label.x"
          [attr.y]="getLineY(label, i)"
          [attr.font-size]="label.fontSize"
          font-family="'marauders-map', serif"
          font-weight="700"
          fill="#ed1111"
          letter-spacing="2"
          text-anchor="middle">
          {{ location }}
        </text>
      </g>


    </g>

  </svg>

  <!-- Cinematic slide-in side panel -->
  <!-- <div class="side-panel" [class.visible]="panelVisible">
    <ng-container *ngIf="selectedTrail">

      <button class="close-btn" (click)="closePanel()">✕</button>

      <div class="panel-stop">Stop {{ selectedTrail.stopNumber }} of 7</div>
      <h2 class="panel-title">{{ selectedTrail.title }}</h2>
      <div class="panel-date">📅 {{ selectedTrail.date }}</div>

      <div class="panel-divider"></div>

      <p class="panel-description">{{ selectedTrail.description }}</p>

      <div class="panel-meta">
        <div class="meta-item">
          <span class="meta-label">Difficulty</span>
          <span class="meta-value">{{ selectedTrail.difficulty }}</span>
        </div>
        <div class="meta-item">
          <span class="meta-label">Distance</span>
          <span class="meta-value">{{ selectedTrail.distance }}</span>
        </div>
        <div class="meta-item">
          <span class="meta-label">Elevation</span>
          <span class="meta-value">{{ selectedTrail.elevation }}</span>
        </div>
      </div>

    </ng-container>
  </div> -->

  <!-- Legend -->
  <!-- <div class="legend">
    <div class="legend-item">
      <div class="legend-line"></div>
      <span>Trail Route</span>
    </div>
    <div class="legend-item">
      <div class="legend-pin"></div>
      <span>Trail Stop</span>
    </div>
  </div> -->

</div>